<div class="contenedor" >
    <h1>{{datos_dest[0].DEST_NOMBRE}}</h1>

    <p><b>Descripcion: </b> {{datos_dest[0].DEST_DESC}}</p>

    <p><b>Actividades: </b></p>

    <div class="block">
        <ul class="list">
            <li *ngFor="let act of actividades" (click)="irActividad(act.ID)">
                {{ act.NOMBRE }}
            </li>
        </ul>
        <button (click)="agregarActividad(datos_dest[0].ID_DEST)" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Agregar Actividad</button>
    </div>

    <p><b>Eventos: </b></p>
    <div class="block">
        <ul class="list">
            <li *ngFor="let eve of eventos" (click)="irEvento(eve.ID)">
                {{ eve.NOMBRE }}
            </li>
        </ul>
        <button (click)="agregarEvento(datos_dest[0].ID_DEST)" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Agregar Evento</button>
    </div>

    <!-- 
    <div class="imagenes">
        <img class="img" *ngFor="let img of imagenes" src={{img}} alt="Destino">
    </div> 
    -->
    
    <footer>
        <p>Derechos de autor &copy; 2023 | <a href="/nextrip">NexTrip</a></p>
    </footer>
</div>