<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img  src="../../../assets/img/mountain (1).png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Nextrip
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/nextrip">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agregarDestino">Agregar Destino</a>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" style="justify-content: end; cursor: pointer;" (click)="signOutCognito()">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" >Desconectarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="contenedor" >
    <h1 style="margin-top: 60px;">{{datos_dest[0].DEST_NOMBRE}}</h1>

    <p><b>Descripcion: </b> {{datos_dest[0].DEST_DESC}}</p>

    <p><b>Actividades: </b></p>

    <div class="block">
        <ul class="list">
            <li *ngFor="let act of actividades" (click)="irActividad(act.ID)">
                {{ act.NOMBRE }}
            </li>
        </ul>
        <button (click)="agregarActividad(datos_dest[0].ID_DEST)" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Agregar Actividad</button>
    </div>

    <p><b>Eventos: </b></p>
    <div class="block">
        <ul class="list">
            <li *ngFor="let eve of eventos" (click)="irEvento(eve.ID)">
                {{ eve.NOMBRE }}
            </li>
        </ul>
        <button (click)="agregarEvento(datos_dest[0].ID_DEST)" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Agregar Evento</button>
    </div>

     
    <div class="imagenes">
        <img class="imagen" *ngFor="let img of imagenes" src={{img}} alt="Destino">
    </div> 
    
    
    <footer>
        <p>Derechos de autor &copy; 2023 | <a href="/nextrip">NexTrip</a></p>
    </footer>
</div>