<h1>{{actividad[0].NOMBRE}}</h1>

<p><b>Descripcion: </b> {{actividad[0].DESCRIPCION}}</p>

<p><b>Categoria: </b> {{actividad[0].CATEGORIA}}</p>

<!--
<div class="imagenes">
    <img class="img" *ngFor="let img of imagenes" src={{img}} alt="Actividad">
</div>
-->

<!--
<div class="contenedor">
    <div class="boton">
        <button class="btn" (click)="guardarFavorito(actividad[0].id)"><b>Guardar Favorito</b></button>
    </div>
</div>
-->

<footer>
    <p>Derechos de autor &copy; 2023 | <a href="/nextrip">NexTrip</a></p>
</footer>