<div class="contenedor">
    <!-- <div class="block">
        
        <ul class="list">
            <li *ngFor="let lugar of lugares" (click)="irDestino(lugar.ID_DEST)">{{ lugar.NOMBRE }}</li>
        </ul>
        <img src="../../../assets/img/Post.jpg" alt="">
    </div> -->
    <!-- <div>
    <div *ngFor="let lugar of lugares" (click)="irDestino(lugar.ID_DEST)" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ lugar.NOMBRE }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div> -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
              <img src="../../../assets/img/mountain (1).png" alt="Logo" width="30" height="24"
                  class="d-inline-block align-text-top">
              Nextrip
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">

                  <li class="nav-item">
                      <a class="nav-link" href="/nextrip">Nosotros</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/agregarDestino">Agregar Destino</a>
                  </li>
              </ul>
          </div>


          <div class="collapse navbar-collapse" style="justify-content: end; cursor: pointer;" (click)="signOutCognito()">
              <ul class="nav justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link disabled" aria-disabled="true">Desconectarse</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
    <h1>Destinos</h1>
    <button routerLink="/agregarDestino" type="button" class="btn btn-secondary" style="background-color: #9abdeb;">Agregar Destino</button>
    <div class="contenedor_card">
    <div *ngFor="let lugar of lugares"  class="card" style="width: 18rem; margin: 20px; text-align: center;">
        <img  (click)="irDestino(lugar.ID_DEST)" 
          [src]="lugar.IMAGEN ? lugar.IMAGEN : '../../../assets/img/1.png'" 
          class="card-img-top" alt="...">
        <div class="card-body" >
          <h5 class="card-title">{{ lugar.NOMBRE }}</h5>
          
        </div>
       
        <div  class="card-body" style="text-align: center;">
          <img class="card-link"(click)="eliminarDestino(lugar.ID_DEST)" id="delete" style="width: 50px;" src="../../../assets/img/basura.png" alt="Eliminar">
            <a href="#" >Eliminar Destino</a>
          
        </div>
       
      </div>
     
    </div>
</div> 