<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/mountain (1).png" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top">
            Nextrip
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/nextrip">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/agregarDestino">Agregar Destino</a>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" style="justify-content: end; cursor: pointer;" (click)="signOutCognito()">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link disabled" >Desconectarse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h1 style="margin-top: 60px;">Agregue un nueva actividad o modifique uno existente</h1>

    <form [formGroup]="actividadForm">
                      

        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Ingrese el nombre de la actividad</label>
            <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre" id="inputDefault">
        </div>

        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Ingrese la descripcion de la actividad</label>
            <input formControlName="desc" type="text" class="form-control" placeholder="Descripcion" id="inputDefault">
        </div>
        
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Ingrese la categoria de la actividad</label>
            <input formControlName="categoria" type="text" class="form-control" placeholder="Categoria" id="inputDefault">
        </div>

        <div style="margin-top: 10px;">
            <button (click)="agregarActividad()" type="submit" class="btn btn-primary"
                style="background-color:#9abdeb">Aceptar</button>
            <button style="margin-left: 5px;" (click)="goBack()" type="button"
                class="btn btn-secondary">Volver</button>
        </div>
    </form>
</div>