<h1>{{evento[0].NOMBRE}}</h1>

<p><b>Descripcion: </b> {{evento[0].DESCRIPCION}}</p>

<p><b>Mes: </b> {{evento[0].MES}}</p>

<!--
<div class="imagenes">
    <img class="img" *ngFor="let img of imagenes" src={{img}} alt="Evento">

</div>
-->

<!--
<div class="contenedor">
    <div class="boton">
        <button class="btn" (click)="guardarFavorito(evento[0].id)"><b>Guardar Favorito</b></button>
    </div>
   
</div>
-->
<div   style="text-align: center;">
    <img class="card-link"(click)="eliminarEvento(evento[0].ID_EVENTO)" id="delete" style="width: 50px;" src="../../../assets/img/basura.png" alt="Eliminar">
      <a href="#" >Eliminar Evento</a>
    
  </div>

<footer>    
    <p>Derechos de autor &copy; 2023 | <a href="/nextrip">NexTrip</a></p>
</footer>